.box.alert{
    background-color:rgb(225, 165, 195);
}

.box.warning{
    background-color: rgb(248, 202, 145);
}

.box.success{
    background-color: rgb(8, 74, 74);
}


.box p{
    margin: 10px;
}

.box p.title{
    font-size: 20px;
}

.box p.description{
    font-size: 14px;
}

.box{
    max-width: 600px;
    margin: 20px auto;
    box-shadow: rgba(26, 2, 50,0.16) 0 1px 4px;
    padding: 20px 5px;
    border: 0px;
    border-radius: 5px;
      }
    
