 .tasklist h1{
    font-size: 28px;
    text-align: center;
    margin: 20px;
 }


 .tasklist ul{
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: rgba(0,0,0,0.02) 0px 1px 3px;
 }

 .tasklist button.trigger{ 
    background-color: rgb(9, 9, 88);
    color:#fff;
  padding: 5px 10px;
  cursor: pointer;
  border: 0px;
  border-radius: 5px;
  }


